<h3>
  <%= @user.name %>
</h3>
<p>
  Email - <%= @user.email %>
</p>
<p>
  <a href="<%= edit_user_path %>">
    Edit this user
  </a>
  <br>
  <a href="<%= user_path(@user.id) %>" data-method="delete">
    Delete this user
  </a>
</p>

<p>
  <a href="<%= categories_path %>">
    Manage categories
  </a>
</p>

<p>
  <a href="<%= new_item_path %>">Add a todo item</a>
</p>
<br>
<a href="<%= items_by_date_path %>">
  See items chronologically
</a>
<hr>
<% @categories.each do |category| %>
  <div id="category_<%= category.id %>">
    <h3>
      <%= category.name %>
    </h3>
    <% @items.each do |item| %>
      <% if item.category_id == category.id %>
        <h4>
          <input type="checkbox" id="item<%= item.id %>" value="<%= item.id %>">
          <a href="<%= item_path(item.id) %>"><%= item.name %></a>
        </h4>
      <% end %>
    <% end %>
  </div>
<% end %>
<h3>
Uncategorized
</h3>
<% @items.each do |item| %>
  <% if item.category_id == 0 %>
    <h4>
      <input type="checkbox" id="item<%= item.id %>" value="<%= item.id %>" class="checkbox_for_item">
      <a href="<%= item_path(item.id) %>"><%= item.name %></a>
    </h4>
  <% end %>
<% end %>





<!-- <ul>
  <% @items.each do |item| %>
    <li>
      <a href="<%= item_path(item.id) %>"><%= item.name %></a>
      <p>
        <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
        <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
      </p>
    </li>
  <% end %>
</ul> -->