<h3>
  <%= @user.name %>
</h3>
<p>
  Email - <%= @user.email %>
</p>
<p>
  <a href="<%= edit_user_path %>">
    Edit this user
  </a>
  <a href="<%= user_path(@user.id) %>" data-method="delete">
    Delete this user
  </a>
</p>

<p>
  <a href="<%= categories_path %>">
    Manage categories
  </a>
</p>

<p>
  <a href="<%= new_item_path %>">Add a todo item</a>
</p>

<% @categories.each do |category| %>
  <h3>
    <%= category.name %>
      <% @items.each do |item| %>
        <% if item.category_id == category.id %>
          <h4>
            <a href="<%= item_path(item.id) %>"><%= item.name %></a>
          </h4>
          <p>
            <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
            <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
          </p>
        <% end %>
      <% end %>
    <% end %>
</h3>
<h3>
  Uncategorized
  <% @items.each do |item| %>
    <% if item.category_id == 0%>
      <h4>
        <a href="<%= item_path(item.id) %>"><%= item.name %></a>
      </h4>
      <p>
        <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
        <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
      </p>
    <% end %>
  <% end %>
</h3>





<!-- <ul>
  <% @items.each do |item| %>
    <li>
      <a href="<%= item_path(item.id) %>"><%= item.name %></a>
      <p>
        <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
        <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
      </p>
    </li>
  <% end %>
</ul> -->