<h4>
  <a href="<%= new_item_path %>">
    Add a new item to your todo list
  </a>
</h4>

<% @categories.each do |category| %>
  <h3>
    <%= category.name %>
      <% @items.each do |item| %>
        <% if item.category_id == category.id %>
          <h4>
            <a href="<%= item_path(item.id) %>"><%= item.name %></a>
          </h4>
        <% end %>
      <% end %>
    <% end %>
</h3>
<h3>
  Uncategorized
  <% @items.each do |item| %>
    <% if item.category_id == 0 %>
      <h4>
        <a href="<%= item_path(item.id) %>"><%= item.name %></a>
      </h4>
      <p>
        <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
        <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
      </p>
    <% end %>
  <% end %>
</h3>