<h3>
  <%= @item.name %>
</h3>
<h4>
  <% if @item.category != nil %>
    <%= @item.category.name %>
  <% else %>
    Uncategorized
  <% end %>
</h4>
<p>
  <%= @item.content %>
</p>

<p>
  <a href="<%= edit_item_path(@item.id) %>">Edit this item</a>
  <a href="<%= item_path(@item.id) %>" data-method="delete">Delete this item</a>
</p>