<h2>
  <%= @category.name %>
</h2>

<% @items.each do |item| %>
    <h4>
      <a href="<%= item_path(item.id) %>"><%= item.name %></a>
    </h4>
    <p>
      <a href="<%= edit_item_path(item.id) %>">Edit this item</a>
      <a href="<%= item_path(item.id) %>" data-method="delete">Delete this item</a>
    </p>
<% end %>