<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <header>
    <% if session[:user_id] != nil %>
    <% @user_logged_in = User.find(session[:user_id])%>
    <p>You are logged in as <%= @user_logged_in.name %></p>
    <a href="<%= logout_path %>" >Logout</a>
    <% else %>
    <a href="<%= login_path %>">Please log in</a>
    <% end %>
  </header>

<%= yield %>

<footer>
  <a href="<%= user_path %>">Back to my profile</a>
</footer>
</body>
</html>
